<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivera521.baccalculator">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_label"
        android:roundIcon="@mipmap/ic_launcher_rounded_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <provider
            android:authorities="com.drivera521.baccalculator.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".activities.RegistrationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.BACDisplayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.DrinkListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ProfileSelectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.DrinkDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.ProfileDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CreditActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.ViewPreferenceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.UpdateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activities.CustomizedDrinkActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>

    </application>

</manifest>